*~
.deps
.libs
*.gz
*.la
*.lo
*.o
debian/.debhelper/
aclocal.m4
autom4te.cache
build-scripts/
config.cache
config.log
config.status
configure
Makefile
Makefile.in
stamp-h1
config.h
config.h.in
jack_meter
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/docs
debian/files
debian/gbp.conf
debian/cuimhne-jackmeter.debhelper.log
debian/cuimhne-jackmeter.substvars
debian/cuimhne-jackmeter/
debian/source/local-options
target/

/.project
